* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-purple: #4A4E69;
  --color-azulbb: #8E9AAF;
  --color-pink: #CBC0D3;
  --color-pinkclear: #FEEAFA;
  --color-cinzaclear: #EFF1FF;

  font-size: 62.5%;
}



body {

  font-size: 1.6rem;
  font-family: 'Staatliches', cursive;

}

header {
  background-color: var(--color-azulbb);
  text-align: center;
  padding: 3.2rem 0 2.9rem;
 

}

header h1,
.main p {
  animation: topdown;
  animation-duration: 1.3s;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

header img {
  animation: zoom;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  margin-bottom: 3.2rem;




}


header h1 {
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  background-color: var(--color-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;

  letter-spacing: 0.05em;

  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}




main p {
  font-family: 'Palanquin', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #23053A;
  text-align: center;
  margin: 1.4rem auto 6.3rem;

}

.sorvetes img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;


}

.sorvetes {
  position: relative;
  border-radius: 2rem;

  animation: topup;
  animation-duration: 1.3s;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
  transition: transform 300ms;


}

@keyframes zoom {
  0% {
    transform: scale(0.8);
  }


  100% {
    transform: scale(1.0);
  }
}


@keyframes topup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }



}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }


}


.sorvetes:hover {
  transition: transform 300ms;
  transform: scale(1.05);



}


.sorvetes h2 {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  background-color: var(--color-pinkclear);
  color: #23053A;
  font-size: 2rem;
  border-radius: 2rem;
  width: 11.2rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.0rem;
  font-weight: 400;
  font-style: normal;

}

main div+div {
  margin-top: 3.6rem;
}

main div:last-child {
  margin-bottom: 6rem
}

main {
  max-width: 32rem;
  margin: auto;
}


footer, header p {
  display: none;
}



@media (min-width: 1280px) {

  body {
    display: flex;
  }

  header {
    max-width: 38rem;

  }

  header h1 {
    height: 7rem;
  }

  main p {
    display: none;
  }

  main {
   width: 72.5rem;
   display: grid;
   grid-template-areas: "A B C" "D E F";
  }

  main div:last-child,
  main div+div {
    margin: 0;

  }

  footer,
  header p {
    display: block;
  }

  .sorvetes img {
    width: auto;
  }
  header p {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 2.4rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 3.2rem 4.8rem 12.5rem 5.4rem;
  
  }

  footer p {
    margin-top: 5rem;
    text-align: center;
    color: black;
    border: 1px solid;
  }

  .sorvetes h2 {
    display: none;
  }



}