* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-purple: #4A4E69;
  --color-azulbb: #8E9AAF;
  --color-pink: #CBC0D3;
  --color-pinkclear: #FEEAFA;
  --color-cinzaclear: #EFF1FF;

  font-size: 62.5%;
}



body {

  font-size: 1.6rem;


}

header {
  background-color: var(--color-azulbb);
  text-align: center;
  padding: 3.2rem 0 2.9rem;
 

}

header h1,
.content p {
  animation: topdown;
  animation-duration: 1.3s;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

header img {
  animation: zoom;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  margin-bottom: 3.2rem;




}


header h1 {
  width: 100%;
  font-family: 'Staatliches', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  background-color: var(--color-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;

  letter-spacing: 0.05em;

  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}




.content p {
  font-family: 'Palanquin', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #23053A;
  text-align: center;
  margin: 1.4rem auto 6.3rem;

}

.ice-cream img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;


}

.ice-cream {
  position: relative;
  border-radius: 2rem;

  animation: topup;
  animation-duration: 1.3s;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
  transition: transform 300ms;


}

@keyframes zoom {
  0% {
    transform: scale(0.8);
  }


  100% {
    transform: scale(1.0);
  }
}


@keyframes topup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }



}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }


}


.ice-cream:hover {
  transition: transform 300ms;
  transform: scale(1.05);



}


.ice-cream h2 {
  font-family: 'Staatliches', cursive;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  background-color: var(--color-pinkclear);
  color: #23053A;
  font-size: 2rem;
  border-radius: 2rem;
  width: 11.2rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.0rem;
  font-weight: 400;
  font-style: normal;

}

.content div+div {
  margin-top: 3.6rem;
}

.content div:last-child {
  margin-bottom: 6rem
}

.content {
  max-width: 32rem;
  margin: auto;

}


footer p, header p {
  display: none;
}


@media (min-width:768px){
  .content {
    max-width: 60rem;
  }
}

@media (min-width: 1280px) {
  body {

    gap:9.8rem;
    justify-content: flex-start;
    display: grid;
    grid-template-areas: "header main";

  }

  header {
    grid-area: header;
    width: 38rem;    

  }



  main {
   
   
    grid-area: main;
  }

  header h1 {
    height: 7rem;
  }

  .content p {
    display: none;
  }


  .content {
    padding-top: 6.4rem;
    padding-right: 8.1rem;
   
    max-width: 100%;
    display: grid;
   
    gap:3.2rem;
    
    grid-template-areas: 
    "A B C"
    "D B F"
    "D E F";
    
  }

  .content div:nth-child(2) {
    grid-area: A;
 
  }

  .content div:nth-child(3) {
    grid-area: B;
 
  }
  .content div:nth-child(4) {
    grid-area: C;
 
  }
  .content div:nth-child(5) {
    grid-area: D;
 
  }
  .content div:nth-child(6) {
    grid-area: E;
 
  }
  .content div:nth-child(7) {
    grid-area: F;
 
  }




  .content div:last-child,
  .content div+div {
    margin: 0;

  }

  footer p,
  header p {
    display: block;
  }

  header p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 3.2rem 4.8rem 12.5rem 5.4rem;
  
  }

  footer p {
    margin-top: 5rem;
    margin-bottom: 4.6rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    
    /* identical to box height, or 200% */
    
    text-align: center;
    
    color: #4A4E69;

  }
  footer p a {
    color: #4A4E69;
    text-decoration: none;
    font-weight: 700;
 

  }

  .ice-cream h2 {
    display: none;
  }

@media (min-width: 1600px){

  .content {
     
      max-width: 88.2rem;
    
  }
}

}